<h1>Jibby's Dummy Sandbox</h1>

<p>What would Jibby do today?</p>



<form action="/cool_url" method="get">
  <input type="text" name="user_input">
  <input type="submit" value="ENTER">
</form>

<form action="/cool_url" method="post">
  <input type="text" name="user_input">
  <input type="submit" value="ENTER">
</form>

<br><br>

<form action="/cool_url" method="get">
  <textarea cols="80" rows="3" name="myname">
  CHICKEN POK POK POK
  </textarea>
</form>
<br><br>
<form action="/cool_url" method="post">
  <input type="radio" name="group1" value="Milk"> Milk
  <input type="checkbox" name="group1" value="Butter"> Butter
  <input type="radio" name="group1" value="Cheese"> Cheese
  <input type="submit" value="ENTER">
</form>

<br><br>
<form action="/cool_url" method="post">
  <input type="radio" name="group2" value="Water"> Water
  <input type="radio" name="group2" value="Beer"> Beer
  <input type="radio" name="group2" value="Wine"> Wine
  <input type="submit" value="ENTER">
</form>

<br><br>
<form action="/cool_url" method="get">
<select name="mydropdown">
<option value="Milk">Fresh Milk</option>
<option value="Cheese">Old Cheese</option>
<option value="Bread">Hot Bread</option>
</select>
<input type="submit" value="ENTER">
</form>



<form action="/cool_url" method="get">
<input type="text" name="post[title]">
<input type="text" name="post[price]">
<textarea name="post[description]"></textarea>
<input type="submit" value="ENTER">



</form>